alias ls='eza --color'
alias ll='eza -l --color --header --git --icons=always'
alias la='eza -l -a --color --header --git --icons=always'
alias tree='eza --tree --color --icons=always' 
alias vim='nvim' 
alias cd='z'

alias gpl='git pull'
alias gps='git push'
alias gcm='git commit -m'
